<!-- NOTE: changes not just in this component -->
<!-- TODO: 3. Use Semantic HTML properly, what's wrong with this usage of main -->
<!-- SOLUTION: The header and footer should not be wrapped in main, instead our main content should be wrapped in main  -->

<!-- TODO: 4. Our header and footer are suppose to fill the full width of the page and sit flush to the top / bottom -->
<!-- e.g. no whitespace around the header / footer -->
<div [className]="'app'">
  <pre-header [userName]="userName$"></pre-header>
  <section>
    <pre-side-nav [sideNavItems]="sideNavItems"></pre-side-nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
  <pre-footer></pre-footer>
</div>
