// TODO: 5. Fixing one thing may break other things, but sometimes it has to be done
// SOLUTION: Replace styles from main to new class app

.app {
  // try to keep these
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  min-height: 100vh;
 
}

main{
  margin: 10px;
}